body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: 1rem;
  opacity: 0.7;
}

.input {
  border: 2px solid #dfe1e5;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 10em;
  font-size: 16px;
}

select {
  border: 2px solid #dfe1e5;
  width: 7em;
  border-radius: 0.3rem;
  margin-left: 0.5rem;
  padding: 0.5rem;
  font-size: 16px;
}

.equals {
  font-weight: bold;
  font-size: 3rem;
}
